<!DOCTYPE html>
<html>
<head>
    <title>Online Game History</title>
</head>
<body>
    <h1>Play Guess the Number</h1>
    <a href="/archive">View the Game Archive</a>
    <a href="/">Go back to Home</a>
    
    <iframe src="http://localhost:3000" width="100%" height="600px" style="border:none;"></iframe>
</body>
</html>